/*Reset*/
* {
    margin: auto;
    padding: auto;
    box-sizing: border-box;
}

body {
    font-family: "Playfair Display", serif;
}

/*Header*/
header {
    height: 100px;
    background-color: rgb(94, 176, 253);
    background-image: url(../img/pattern.png);
    background-size: contain;
    background-position: center;
}

#logo {
    width: 200px;
    margin-top: 40px;
    margin-left: 12px;
}

/*Main*/
main {
    padding: 12px;
}

/*Titolo*/
h1 {
    font-size: 30px;
    font-weight: 900;
}

.grey-text {
    color: rgb(128, 124, 124);
    font-weight: 400;

}

#autore {
    color: rgb(76, 197, 233);
}

#data {
    font-size: 12px;
    font-weight: 600;
}

/*Immagini*/

#tim-img {

    margin-top: 24px;
}

#descrizione-foto {
    font-size: 12px;
    font-weight: 400;
}

/*Articolo Pagina*/

.descrizione {
    margin-top: 24px;
}

.testo-evidenziato {
    background-color: rgb(248, 248, 135);
}